{{#if unfurled.isPending}}
  <div local-class="main">
    <div local-class="main-content">
      <div local-class="header">
        {{ui-spinner local-class="provider-icon"}}
        <a href="{{block.meta.url}}" local-class="title">{{block.meta.url}}</a>
      </div>
    </div>
  </div>
{{/if}}

{{#if unfurled.isRejected}}
  <div local-class="main">
    <div local-class="main-content">
      <div local-class="header">
        {{svg-jar 'Error'
          height='24'
          width='24'
          local-class='provider-icon provider-icon--error'}}

        <a href="{{block.meta.url}}" local-class="title" title="An error occured fetching this URL">{{block.meta.url}}</a>
      </div>
    </div>
  </div>
{{/if}}

{{#if unfurled.isFulfilled}}
  {{component (url-block-component-name unfurled.providerName)
    unfurled=unfurled}}
{{/if}}
