<div local-class="main">
  <div local-class="main-content">
    <div local-class="header">
      <img local-class="provider-icon" src="{{unfurl.providerIconUrl}}" height="24" width="24">
      <a href="{{unfurl.id}}" local-class="title">{{unfurl.title}}</a>
    </div>

    {{#if unfurl.text}}
      <div local-class="text">{{unfurl.text}}</div>
    {{/if}}
  </div>

  {{#if unfurl.thumbnailUrl}}
    <img local-class="thumbnail" src="{{unfurl.thumbnailUrl}}" height="48" width="48">
  {{/if}}
</div>

{{#if unfurl.fields}}
  <div local-class="fields">
    {{#each unfurl.fields as |field|}}
      <div local-class="field" class="{{if field.short styles.field--short}}">
        <div local-class="field-title">{{field.title}}</div>
        <div local-class="field-value">{{field.value}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if unfurl.labels}}
  <div local-class="labels">
    {{#each unfurl.labels as |label|}}
      <div local-class="label" style="color: {{label.color}}; background-color: {{label.backgroundColor}};">
        {{#if label.iconUrl}}
          <img local-class="label-icon" src="{{label.iconUrl}}" height="16" width="16">
        {{/if}}

        <div local-class="label-value">{{label.value}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}
