{{!-- <div local-class="content">
  <a local-class="title" href="#">{{unfurl.title}}</a>
  <div local-class="text">{{unfurl.text}}</div>

  <div local-class="provider-name">Github</div>
</div>

<div local-class="image" style="background-image: url('{{image}}');"></div> --}}



<div>
  <img src="#" height=16 width=16>
  <div>{{unfurl.title}}</div>
</div>

<div>
  {{unfurl.text}}
</div>

<div>
  <div>
    <div>Field 1</div>
    <div>Value 1</div>
  </div>

  <div>
    <div>Field 2</div>
    <div>Value 2</div>
  </div>

  <div>
    <div>Field 3</div>
    <div>Value 3</div>
  </div>
</div>

<div>
  <div>
    <img src="#" height=16 width=16>
    <div>Some label</div>
  </div>

  <div>
    <img src="#" height=16 width=16>
    <div>A colored label</div>
  </div>

  <div>
    <img src="#" height=16 width=16>
    <div>A colored label</div>
  </div>
</div>
