{{#if canvasLinkComponent}}
  {{component canvasLinkComponent
    blockID=block.id
    canvasID=canvasID
    class=styles.block-link
    filter=filterTerm}}
{{/if}}

<div class={{levelClass}} local-class="container">
  <div local-class="checkbox">
    {{ui-checkbox checked=block.meta.checked onToggle=(action 'onToggleChecked')}}
  </div>

  <div local-class="content">
    {{canvas-block-checklist-item-content
      block=block
      editingEnabled=editingEnabled
      changeBlockType=changeBlockType
      isFocused=(mut isFocused)
      indentBlock=(action offsetLevel 1)
      unindentBlock=(action offsetLevel -1)
      onBlockDeletedLocally=onBlockDeletedLocally
      onBlockReplacedLocally=onBlockReplacedLocally
      onNavigateDown=onNavigateDown
      onNavigateLeft=onNavigateLeft
      onNavigateRight=onNavigateRight
      onNavigateUp=onNavigateUp
      onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
      onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
      onNewBlockInsertedLocally=onNewBlockInsertedLocally}}
  </div>
</div>

{{#if (and isTemplate isFocused)}}
  <div local-class="template-settings">
    {{canvas-block-template-settings block=block}}
  </div>
{{/if}}
