{{#if canvasLinkComponent}}
  {{component canvasLinkComponent
    blockID=block.id
    canvasID=canvasID
    class=styles.block-link
    filter=filterTerm}}
{{/if}}

<div class={{levelClass}} local-class="container">
  <div local-class="checkbox">
    {{ui-checkbox checked=block.meta.checked onToggle=(action 'onToggleChecked')}}
  </div>

  <div local-class="content">
    {{canvas-block-checklist-item-content
      block=block
      editingEnabled=editingEnabled
      changeBlockType=changeBlockType
      isEditingPlaceholder=(mut isEditingPlaceholder)
      isMultiBlock=isMultiBlock
      isFocused=isFocused
      isTemplate=isTemplate
      indentBlock=(action offsetLevel 1)
      unindentBlock=(action offsetLevel -1)
      onBlockDeletedLocally=onBlockDeletedLocally
      onBlockReplacedLocally=onBlockReplacedLocally
      onDoubleSelectAll=onDoubleSelectAll
      onDoubleSelectToEnd=onDoubleSelectToEnd
      onDoubleSelectToStart=onDoubleSelectToStart
      onBlurBlock=onBlurBlock
      onFocusBlock=onFocusBlock
      onRedo=onRedo
      onUndo=onUndo
      onMultiBlockSelectUp=onMultiBlockSelectUp
      onMultiBlockSelectDown=onMultiBlockSelectDown
      onNavigateDown=onNavigateDown
      onNavigateLeft=onNavigateLeft
      onNavigateRight=onNavigateRight
      onNavigateUp=onNavigateUp
      onSwapBlockUp=onSwapBlockUp
      onSwapBlockDown=onSwapBlockDown
      onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
      onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
      onNewBlockInsertedLocally=onNewBlockInsertedLocally
      pasteBlocksAfter=pasteBlocksAfter}}
  </div>
</div>

{{#if isEditingPlaceholder}}
  <div local-class="placeholder-editor">
    {{placeholder-editor
      block=block
      editingEnabled=editingEnabled
      isEditingPlaceholder=(mut isEditingPlaceholder)
      onBlockMetaReplacedLocally=onBlockMetaReplacedLocally}}
  </div>
{{/if}}
