<div local-class="main">
  <div local-class="main-content">
    <div local-class="header">
      {{svg-jar 'Document' height='24' width='24' local-class='provider-icon'}}

      {{#if canvasId}}
        {{#link-to 'team.canvases.show' canvasId local-class='title'}}
          {{unfurled.title}}
        {{/link-to}}
      {{else}}
        <a href="{{unfurled.url}}" local-class="title">{{unfurled.title}}</a>
      {{/if}}
    </div>

    {{#if unfurled.text}}
      <div local-class="text">{{unfurled.text}}</div>
    {{/if}}
  </div>

  {{#if hasProgress}}
    <div local-class="progress">
      {{ui-progress-donut progress=progress}}
    </div>
  {{/if}}
</div>
