{{#if block.blocks}}
  {{yield}}
{{else}}
    <div local-class="block">
      {{yield}}
    </div>

  {{#with (hash blockComments=(filter-by 'block.id' block.id comments)) as |scope|}}
    <button onclick={{toggle-action 'block.showCommentThread' this}} local-class="comment-thread-indicator {{if scope.blockComments 'has-comments'}}">
      {{#if block.showCommentThread}}
        Hide Comments
      {{else}}
        Show Comments
      {{/if}}
    </button>

    {{#if block.showCommentThread}}
      <div local-class="comment-thread">
        {{component commentThreadComponent
          blockId=block.id
          blockComments=scope.blockComments
          comments=comments}}
      </div>
    {{/if}}
  {{/with}}
{{/if}}