{{#if block.blocks}}
  {{yield}}
{{else}}
  {{yield (hash
            isFocused=isFocused
            onBlurBlock=(action 'onBlur')
            onFocusBlock=(action 'onFocus'))}}

  {{#if commentsEnabled}}
    {{#with (hash blockComments=(filter-by 'block.id' block.id comments)) as |scope|}}
      <button
        local-class="comment-thread-indicator {{if scope.blockComments 'has-comments'}}"
        onclick={{toggle-action 'block.showCommentThread' this}}>
      </button>

      {{#if block.showCommentThread}}
        <div local-class="comment-thread">
          {{component commentThreadComponent
            blockId=block.id
            blockComments=scope.blockComments
            comments=comments}}
        </div>
      {{/if}}
    {{/with}}
  {{/if}}
{{/if}}
