{{#if canvasLinkComponent}}
  {{component canvasLinkComponent
    blockID=block.id
    canvasID=canvasID
    class=styles.block-link
    filter=filterTerm}}
{{/if}}

<div local-class="remove" onclick={{action 'removeSelf'}}>+</div>

<div local-class="icon"></div>

<div local-class="content">
  <div local-class="title">Pro Tip</div>

  <div local-class="content">
    {{#if isTemplate}}
      {{canvas-block-tip-content
        block=block
        changeBlockType=changeBlockType
        editingEnabled=editingEnabled
        isEditingPlaceholder=(mut isEditingPlaceholder)
        isFocused=(mut isFocused)
        isMultiBlock=isMultiBlock
        isTemplate=isTemplate
        onBlockDeletedLocally=onBlockDeletedLocally
        onBlockReplacedLocally=onBlockReplacedLocally
        onDoubleSelectAll=onDoubleSelectAll
        onDoubleSelectToEnd=onDoubleSelectToEnd
        onDoubleSelectToStart=onDoubleSelectToStart
        onBlurBlock=onBlurBlock
        onFocusBlock=onFocusBlock
        onRedo=onRedo
        onUndo=onUndo
        onMultiBlockSelectUp=onMultiBlockSelectUp
        onMultiBlockSelectDown=onMultiBlockSelectDown
        onNavigateDown=onNavigateDown
        onNavigateLeft=onNavigateLeft
        onNavigateRight=onNavigateRight
        onNavigateUp=onNavigateUp
        onSwapBlockUp=onSwapBlockUp
        onSwapBlockDown=onSwapBlockDown
        onBlockContentUpdatedLocally=onBlockContentUpdatedLocally
        onBlockTypeUpdatedLocally=onBlockTypeUpdatedLocally
        onNewBlockInsertedLocally=onNewBlockInsertedLocally}}
    {{else}}
      {{block.content}}
    {{/if}}
  </div>
</div>
